body {
    background: url("/resources/cafenero-smaller.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #51504B;
}
.container {
    background-color: rgba(231,243,239,0.65);
    border-left: solid 1px #73726d;
    border-right: solid 1px #73726d;
    border-bottom: solid 1px #73726d;
}
a {
    text-decoration : none;
    color : #E24B2C;
    text-shadow : 1px 1px 1px rgba(150,150,200,0.35);
}
a:hover {
    text-decoration : none;
    color : #FF5C3D;
}
.demo-headline { padding : 25px 0 25px; }
p {
    font-size : large !important;
    margin-bottom : 25px !important;
    font-family : "Merriweather Sans", sans-serif;
}
.listing {
    margin-bottom : 10px;
    margin-left: 11px;
    padding : 0 5px 0 3px;
    position : relative;
}
h2 { margin-top : 10px; }
h3 { font-size : 20px; }
h4 { margin-top : 25px; }
.date {
    font-size : small;
    float: right;
    color: #95948F;
}
.post_date {
    margin-left : 20px;
    font-size : small;
}
.author {
    margin-left : 20px;
    font-size : medium;
}
.undertitle {
    margin-top : -10px;
    font-family: "Flat-UI-Icons-16";
}
.span6 {
    padding: 5px;
}
.post {
    padding-left: 5px;
    margin-left: 5px;
}
.row {
    margin-bottom : 0;
}
.headline {
    text-align: center;
    margin: 55px 0 55px 0;
}
.logo {
    font-size: 90px;
    font-weight: 900;
    line-height: 100px;
}
h1 {
    font-family: "Open Sans", sans-serif;
}
